/*--------------------*\
       Variables
\*--------------------*/
/*--------------------*\
       Typography
\*--------------------*/
h1 {
  font-family: 'open sans', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  /*   color: #999999; */
  color: #ffffff; }
  @media screen and (max-width: 915px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-family: 'open sans', sans-serif, regular;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  /*   color: #999999; */
  color: #ffffff;
  line-height: 2.75rem; }

h3 {
  font-family: 'open sans', sans-serif, regular;
  font-size: 1.25rem;
  font-weight: 100;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #999999;
  /*  color: #ffffff;*/ }

p {
  font-family: 'open sans', sans-serif, regular;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  color: #999999;
  /*  color: #ffffff;*/ }

a {
  color: #818080;
  text-decoration: none; }

a:hover {
  color: gold; }

/*--------------------*\
    Global Elements
\*--------------------*/
body {
  margin: 0;
  min-height: 100vh;
  background-color: #f7f5f5; }

.subtitle {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem; }

.spacer {
  height: 3rem; }
  @media screen and (max-width: 915px) {
    .spacer {
      height: 0rem; } }

/*--------------------*\
         Page
\*--------------------*/
/*.hero {
  position: relative;
  margin-left: 0px;
  width: 100%;
  height: 125vh;
  background-color: #231F20;
  overflow: hidden; 
}

.hero_img {
  position: relative;
  margin-left: 0px;
  background-image: url("../OMP.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  width: 100%;
  height: 125vh; 
}*/
/* 
.slogan_background {
  position: absolute;
  background-color: #f5f5f5;
  bottom: 40%;
  left: 20%;
  right: 20%;
  text-align: center;
  opacity: 100;
  padding: 2.55rem 2rem;
} */
.slogan_background {
  position: absolute;
  background-color: #000;
  /*  background-color: transparent; */
  top: 2rem;
  left: 8%;
  right: 8%;
  text-align: center;
  opacity: 100;
  padding: 2.55rem 2rem; }
  @media screen and (max-width: 915px) {
    .slogan_background {
      left: 8%;
      right: 8%;
      bottom: 10.1%;
      padding: 0.75rem 0.15rem 0.75rem 0.15rem; } }

.mast_head {
  width: 12%; }

.contact {
  padding-top: 2rem;
  border-top: 1px solid #ffffff;
  width: 80%;
  margin: 2rem auto; }

/*--------------------*\
      card molecule
\*--------------------*/
.card {
  float: none;
  position: relative;
  display: inline-block;
  border-bottom: 0.5rem solid #e36a6b;
  width: 31%;
  background-color: #fefefe;
  min-height: 26.5rem;
  padding: 1.25rem 0 0.25rem;
  width: 40%;
  margin-bottom: 1rem;
  height: 15rem; }

.icon {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 75%;
  padding-top: 2%;
  padding-bottom: 2%; }

.sevice_description {
  padding: 0 1.5rem; }
  @media screen and (min-width: 1014px) {
    .sevice_description {
      padding: 0.5rem 1.5rem;
      font-size: 0.9rem; } }

.sevice_description_title {
  color: #e36a6b;
  padding: 0 1.5rem;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
