.card {
  @include makeColumn($size:12, $offset:0);
  @include makeColumn(md, $size:6, $offset:0);
  padding: 1.25rem 0rem;
  margin-bottom: 1.25rem;

  @include breakpoint($medium) {
    margin: 0rem 0rem 1rem 0rem;
  }
}

.sevice_description_title {
  color: $yellow;
  padding: 0 1rem;
  text-align: left;
}

.sevice_description {
  padding: 0 1rem;
}