// Variables

// Typography see _typography in helpers

// Colors
$white: #ffffff;
$off-white: #fefefe;
$charcoal: #36454f;
$off-black: #231f20;
$faded-red: #e36a6b;
$yellow: #fdbb07;
$gold: #faa81a;
$gold-inverse-blue: #3681f7;
$tactile-blue: #232932;

// Global
//$body-background: $tactile-blue;


// Atoms
//$text-color: #999999;
$text-color: $white;

// Molecules
$icon-max-width: 50%;

// Organisms

// Pages
