// Variables

// Typography see _typography in helpers

// Colors
$white: #ffffff;
$off-white: #fefefe;
$charcoal: #36454f;
$off-black: #231f20;
$faded-red: #e36a6b;
$gold: #faa81a;
$gold-inverse-blue: #3681f7;

// Global
$body-background: #f5f5f5;

// Atoms
$text-color: #999999;

// Molecules
$icon-max-width: 50%;

// Organisms

// Pages
