a {
    font-family: $primary-font;
    font-size: 1rem;
    color: darken($gold-inverse-blue, 10%);
    text-decoration: none;
    padding: 0.75rem 0rem;

    &:hover, &:active {
        color: darken($gold-inverse-blue, 30%);
    }
}