.masthead_logo {
  @include makeColumn($size:4, $offset:4);
  @include makeColumn(md, $size:2, $offset:5);
}

.offerings {
  @include makeRow($no-margin:true);
  padding: 0 0.25rem;
  max-width: 1200px;

  @include breakpoint($medium) {
    margin: 0 auto;
  }
}

.contact {
  width: 80%;
  text-align: center;
  margin: 2rem auto;
  border-top: 1px solid $charcoal;
  padding-top: 2rem;
}